<div class="row">
	<div class="col s12 centered" *ngIf="galleryListStatus!=='success'">

		<!-- Pre Loader -->
		<div class="preloader-wrapper big active" *ngIf="galleryListStatus==='loading'">
	    	<div class="spinner-layer spinner-blue-only">
	      		<div class="circle-clipper left">
	        		<div class="circle"></div>
	      		</div>
	      		<div class="gap-patch">
	        		<div class="circle"></div>
	    		</div>
	    		<div class="circle-clipper right">
	        		<div class="circle"></div>
	    		</div>
	    	</div>
	 	</div>

		<!-- Error Card -->
		<div *ngIf="galleryListStatus==='error'" class="card-panel error">
		    <span class="white-text">
	        	<i class="las la-exclamation-triangle" style="font-size: 4rem"></i>
	        	<br><br>
	        	Something went wrong<br>Please check your connection or retry later
	        </span>
		</div>
	</div>


	<div class="col s10 offset-s1" *ngIf="isSearched">
		<img src={{item.wallpaper_link}} class="materialboxed" style="margin:8% auto;border-radius: 10px" *ngFor="let item of galleryList;let i=index">
	</div>


	<div class="container" *ngIf="!isSearched">
	  <figure *ngFor="let item of galleryList;let i=index">
	  	<div class="placeholder">Loading...</div>
	  	<div class="placeholder-mask"></div>
	    <img class="materialboxed" loading="lazy" src={{item.wallpaper_link}} />
	    <figcaption><a href="#">{{i}}</a></figcaption>
	  </figure>
	</div>
</div>

