<div class="row">
	<div class="container">
	  <figure>
	  	<div class="placeholder">Loading...</div>
	  	<div class="placeholder-mask"></div>
	    <img class="materialboxed" src="https://assets.codepen.io/12005/windmill.jpg" />
	    <figcaption><a href="#">1</a></figcaption>
	  </figure>
	  <figure>
	  	<div class="placeholder">Loading...</div>
	  	<div class="placeholder-mask"></div>
	    <img class="materialboxed" src="https://assets.codepen.io/12005/suspension-bridge.jpg"/>
	    <figcaption><a href="#">2</a></figcaption>
	  </figure>
	  <figure>
	  	<div class="placeholder">Loading...</div>
	  	<div class="placeholder-mask"></div>
	    <img class="materialboxed" src="https://assets.codepen.io/12005/sunset.jpg" />
	    <figcaption><a href="#">3</a></figcaption>
	  </figure>
	  <figure>
	  	<div class="placeholder">Loading...</div>
	  	<div class="placeholder-mask"></div>
	    <img class="materialboxed" src="https://assets.codepen.io/12005/snowy.jpg"/>
	    <figcaption><a href="#">4</a></figcaption>
	  </figure>
	  <figure>
	  	<div class="placeholder">Loading...</div>
	  	<div class="placeholder-mask"></div>
	    <img class="materialboxed" src="https://assets.codepen.io/12005/bristol-balloons1.jpg"/>
	    <figcaption><a href="#">5</a></figcaption>
	  </figure>
	  <figure>
	  	<div class="placeholder">Loading...</div>
	  	<div class="placeholder-mask"></div>
	    <img class="materialboxed" src="https://assets.codepen.io/12005/dog-balloon.jpg" />
	    <figcaption><a href="#">6</a></figcaption>
	  </figure>
	  <figure>
	  	<div class="placeholder">Loading...</div>
	  	<div class="placeholder-mask"></div>
	    <img class="materialboxed" src="https://assets.codepen.io/12005/abq-balloons.jpg"/>
	    <figcaption><a href="#">7</a></figcaption>
	  </figure>
	  <figure>
	  	<div class="placeholder">Loading...</div>
	  	<div class="placeholder-mask"></div>
	    <img class="materialboxed" src="https://assets.codepen.io/12005/disney-balloon.jpg"/>
	    <figcaption><a href="#">8</a></figcaption>
	  </figure>
	  <figure>
	  	<div class="placeholder">Loading...</div>
	  	<div class="placeholder-mask"></div>
	    <img class="materialboxed" src="https://assets.codepen.io/12005/bristol-harbor.jpg"/>
	    <figcaption><a href="#">9</a></figcaption>
	  </figure>
	  <figure>
	  	<div class="placeholder">Loading...</div>
	  	<div class="placeholder-mask"></div>
	    <img class="materialboxed" src="https://assets.codepen.io/12005/bristol-balloons2.jpg"/>
	    <figcaption><a href="#">10</a></figcaption>
	  </figure>
	  <figure>
	  	<div class="placeholder">Loading...</div>
	  	<div class="placeholder-mask"></div>
	  	<img class="materialboxed" src="https://assets.codepen.io/12005/toronto.jpg"/>
	    <figcaption><a href="#">11</a></figcaption>
	  </figure>
	</div>
</div>

