<nav class="dark-blue-bg hide-on-large-only">
	<div class="nav-wrapper">
		<a data-target="slide-out" class="sidenav-trigger" style="cursor: pointer;"><i class="material-icons">menu</i></a>
    	<a class="centered">
			<div style="display: inline-block;vertical-align: middle;" class="sidenav2-logo"></div>
			<div style="display: inline-block;vertical-align: middle;" class="logo-title">COSMOS</div>
			<div style="display: inline-block" class="beta">BETA</div>
		</a>
    		<ul class="right">
      			<li><ion-icon name="search-outline"></ion-icon></li>
    		</ul>
 	</div>
</nav>

        
