 .card{
	margin:2rem 1rem 1rem 1rem;
	box-shadow: -3px 0 2px rgb(0,255,242), 0px 4px 12px rgba(2,8,30,1);
	background: rgb(16,48,96);
	background: linear-gradient(320deg, rgba(16,48,96,1) 0%, rgba(0,64,162,1) 100%);
	border-radius: 8px;
}
.card-heading{
	font-size: 1.2rem;
	padding:0.5em 1em;
	text-align: center;
}
.card-text{
	padding:1em 1.5em;
	color: rgba(209,222, 233,1) !important;
	text-align: justify;
}
p{
	padding-left: 1.5rem;
	margin-top: 0;
}