<div [@openClose] class="row">
	<div class="col s12 l10 offset-l1">
		<div class="card dark-blue-bg">
			<div class="card-heading color-coral">
				🤩 ABOUT
			</div>
			<div class="divider"></div>
			<div class="card-text">
				This project is created to provide platform to every space lover who wants to explore beauty, mystery, science of the infinite cosmos outside earth.<br><br>
				The project doesn't demands any prior knowledge about space. Its aimed only to provide all the varities of materials related to space. <br><br>
				So no matter from whichever background you come from, you will experience an endless learning and exploring with each and every aspects of the cosmos.<br><br>
				The wide categories we have divide this project into are denoted by the 'Charms' on top navigation bar of the App which denote different entities as follows-<br><br>
				1.) 🌍 CURRENT - <br>
				<p>It consistes of the latest NEWS and latest BLOGS.</p>
				2.) 📽 ENTERTAINMENT - <br>
				<p>It consists of providing different media resources such as Movies, Music, Gallery</p>
				3.) 📕 E-RESOURCES - <br>
				<p>It consists of different e-resources such as E-books, Journals(to be updated) etc.</p>
				4.) 🔮 COMING SOON - <br>
				<p>Its a surprise, will be revealed soon 😉</p>
			</div>
		</div>
	</div>
</div>