<div class="row pos">
	<div class="col l2 m3 s3 nav-icon-padding">
		<a routerLink="posts" class="nav-icon-a">
			<div class="nav-icon" routerLinkActive="nav-icon-active">
				<div class="nav-top-shadow"></div>
				<!--<ion-icon name="earth-outline"></ion-icon>-->
			</div>
		</a>
	</div>
	<div class="col l2 m3 s3 nav-icon-padding">
		<a routerLink="entertainment" class="nav-icon-a">
			<div class="nav-icon" routerLinkActive="nav-icon-active">
				<div class="nav-top-shadow"></div>
				<!--<ion-icon name="film-outline"></ion-icon>-->
			</div>
		</a>
	</div>
	<div class="col l2 m3 s3 nav-icon-padding">
		<a routerLink="eresources" class="nav-icon-a">
			<div class="nav-icon" routerLinkActive="nav-icon-active">
				<div class="nav-top-shadow"></div>
				<!--<ion-icon name="library-outline"></ion-icon>-->
			</div>
		</a>
	</div>
	<div class="col l2 m3 s3 nav-icon-padding">
		<a routerLink="fun" class="nav-icon-a">
			<div class="nav-icon" routerLinkActive="nav-icon-active">
				<div class="nav-top-shadow"></div>
				<!--<ion-icon name="rocket-outline"></ion-icon>-->
			</div>
		</a>
	</div>
	<div class="col l4 hide-on-med-and-down">
		<a href="#" class="nav-icon-a">
			<div class="nav-icon-search">
				<div class="nav-top-shadow nav-top-shadow-search"></div>
				<!--<ion-icon name="search-outline"></ion-icon>-->
			</div>
		</a>
	</div>
</div>