.full-container{
	height: 100vh;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	flex-flow: column;
	background-color:rgb(10,25,47);
	align-items: center;
	box-sizing: border-box;
	z-index: 999
}
.txt{
	text-align: center;
	font-size: 4.5rem;
}
.btn-db{
	margin-top:4rem;
	font-size: 1.2rem;
	padding:1.2rem 2.5rem;
	border-radius: 80px;
}