.card{
	padding: 15px 20px;
	margin:8vh auto;
	border-radius: 1.5rem;
	box-shadow: -3px 0 2px rgb(0,255,242), 0px 4px 12px rgba(2,8,30,1);
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;

	box-shadow: 0 0 24px 2px rgba(255,0,0,0.75);
	-webkit-box-shadow: 0 0 24px 2px rgba(255,0,0,0.75);
	-moz-box-shadow: 0 0 24px 2px rgba(255,0,0,0.75);
	background: rgb(75,16,96);
	background: radial-gradient(circle, rgba(75,16,96,1) 0%, rgba(162,0,28,1) 100%);
	border: 2px solid rgba(255,0,0,0.55);
	border-radius: 8px;
	font-size: 1.5rem;
}
.card-heading{
	padding:0.5em 1em;
	color: rgba(169,182, 193,1) !important;
	text-align: center;
}
.card-text{
	padding:1em 1.5em;
	color: rgba(209,222, 233,1) !important;
	text-align: justify;
}
.card img{
	height: 14rem;
	width: 14rem;
}