.card{
 	position: relative;
	margin-top:2rem;
	margin-bottom: 1rem;
	border-radius: 1.5rem;
	box-shadow: -3px 0 2px rgb(0,255,242), 0px 4px 12px rgba(2,8,30,1);
	background: linear-gradient(135deg, rgba(2,8,30,1), rgb(27, 45, 72));
	box-shadow: 12px 12px 16px 0 rgba(2,8,30,1),
   -3px -3px 5px 0  rgb(0,255,242);
	min-width: 320px;
}
.card-external{
	font-size:25px;
	margin-left: -18px;
	margin-top:5px;
}
.card-external a{
	text-decoration: none;
	outline:none !important;
	color: rgb(0,255,242) !important;
}
.card .card-image img{
	padding:0.7rem;
	border-radius: 1.7rem 1.7rem 0 0;
}
.card-frame{
	padding:0.7rem;
	overflow: auto;
}
.card-frame iframe{
	border:0;
	overflow: auto;
}
.card-text{
	padding:1em 1.5em;
	color: rgba(209,222, 233,1) !important;
	font-family: 'Lato', sans-serif;
	font-size:16px;
	text-align: justify;
	width: 100%;
	border-radius:0 0 1.5rem 1.5rem;
	margin-bottom:1px;
	background: linear-gradient(-45deg,rgba(0,75,106,0.65), rgba(0,92,105,0.65) ,
		rgba(0, 141, 113,0.65));
	background-size: 400% 400%;
	animation: gradient 12s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.card .card-content{
	padding: 12px 24px 1px 24px;
	font-size: 14px;
}
.card .card-content img{
	border-radius: 1.5rem 1.5rem 0 0;
}
.credits{
	color: rgb(136, 146, 176) !important;
	padding-left: 1rem;
}
.credits-logo{
	color: rgb(0,255,242) !important;
	font-size: 22px;
}
.author{
	margin-top: -9px;
	color: rgb(0,255,242);
	padding-left:0.2rem;
	text-shadow: 0 0 1px rgba(0,255,242,0.55),0 0 3px rgba(0,255,242,0.55);
	line-height: 25px;
}
.btn-concave{
	margin-top: -5px;
	padding: 0.6rem 0.8rem;
	border-radius: 8px
}
.btn-concave:active{
	background: linear-gradient(145deg, rgba(6,17,34,1),rgba(12,45,90,1)) !important;
}
.btn-concave:focus{
	background: linear-gradient(145deg, rgba(6,17,34,1),rgba(12,45,90,1)) !important;
}
.posted{
	padding-top: 8px;
	color: rgb(136, 146, 176) !important;
	text-align: center;
}
.posted-content{
	color: rgb(0,255,242) !important;
}
.centered{
	margin-top:25vh;
	display: flex;
	justify-content: center;
}
.error{
	background:rgba(217, 30, 58, 0.9) !important;
	border-radius:10px;
	box-shadow: inset 3px 3px 7px rgb(179, 0, 27),inset -3px -3px 7px rgba(219, 40, 67,0.5),3px 3px 7px rgb(179, 0, 27),-3px -3px 7px rgba(219, 40, 67,0.5);
	text-align: center;
	border:solid 2px transparent;
}
.spinnerContainer{
	display: flex;
	position: relative;
	margin-top:30px;
	margin-bottom: 40px;
	bottom: 0;
	height: 50px;
	align-items: center;
	justify-content: center;
}
.feedEnd{
	display: flex;
	margin-top:30px;
	bottom: 0;
	height: 50px;
	align-items: center;
	justify-content: center;
	color: rgb(0,255,242);
	font-size: 1rem;
	letter-spacing: 4px;
	box-shadow: 0 -5px 10px -2px;
	border-radius: 50px 50px 0 0;
}
.card-reveal{
	color: rgb(136, 146, 176) !important;
	font-size:15px;
	letter-spacing: 0.5px;
	text-align: justify;
	background-color: rgb(100,255,218);
}
video{
	outline:none !important;
}
