<div class="row"  style="display: none">
    <div class="col l12">
        <app-page-not-found></app-page-not-found>
    </div>
</div>
<div class="row overflow core-bg"><!-- class="row overflow"-->
    <div class="col l3" style="min-width: 330px">
        <app-sidenav></app-sidenav>
    </div>
    <div class="col l6 m8 s12" style="padding: 0">
        <app-header></app-header>
        <app-nav-tiles></app-nav-tiles>
        <router-outlet></router-outlet>
    </div>
    <div class="col l3 m4 center hide-on-small-only" style="padding:0 2.5rem;position: sticky;top:0;color:rgb(136, 146, 176)">
        <div style="border:2px solid rgb(136, 146, 176);padding:2.5rem;margin-top: 2rem;font-size:1.5rem">Ad space</div>
        <div style="border:2px solid rgb(136, 146, 176);padding:1.5rem 2.5rem;margin-top: 2rem;font-size:1rem">Ad space</div>
        <div style="border:2px solid rgb(136, 146, 176);padding:1.5rem 2.5rem;margin-top: 2rem;font-size:1rem">Ad space</div>
        <div style="border:2px solid rgb(136, 146, 176);padding:4.5rem 2.5rem;margin-top: 2rem;font-size:1rem">Ad space</div>
    </div>
</div>
<div class="row">
    <router-outlet name="publishArea"></router-outlet>
</div>
