<div class="row">
	<div class="col s12 l10 offset-l1">
		<div class="card dark-blue-bg">
			<div class="card-heading">
				DEVELOPMENT TIMELINE
			</div>
			<div class="divider"></div>
			<div class="card-text">
				<p>
					Release Log
				</p>
				<div style="overflow:auto;">
					<table class="centered" >
						<thead>
							<tr>
								<th>Version</th>
								<th>Date</th>
								<th>State</th>
								<th>Log</th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td>v1.0b</td>
								<td>11-05-2020</td>
								<td>Beta</td>
								<td>Released the primary working build of the app with functionalities of publishing posts.</td>
							</tr>
							<tr>
								<td>v1.1b</td>
								<td>19-09-2020</td>
								<td>Beta</td>
								<td>Bug Fixes. Added Support for Instagram post share. Optimized performance by adding infinite scrolling on feed.<br/></td>
							</tr>
							<tr>
								<td>v1.1b</td>
								<td>22-09-2020</td>
								<td>Beta</td>
								<td>Officially hosted on <a href="http://cosmoshub.co" title="COSMOS Hub Official Website" target="_blank">cosmoshub.co</a>.<br/>Feels great see you all astronomy lovers here in our new home. :)</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>