<div class="row">
	<div class="col s12 l10 offset-l1">
		<div class="card dark-blue-bg">
			<div class="card-heading">
				RELEASE
			</div>
			<div class="divider"></div>
			<div class="card-text">
				<p>
					Release Log
				</p>
				<table class="centered">
					<thead>
						<tr>
							<th>Version</th>
							<th>Date</th>
							<th>State</th>
							<th>Log</th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td>v1.0</td>
							<td>11-05-2020</td>
							<td>Beta</td>
							<td>Released the primary working build of the app with functionalities of publishing posts.</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>