<ul id="slide-out" class="sidenav sidenav-fixed dark-blue-bg side-light container">
	<li>
		<div class="user-view centered">
	  		<div class="background">
	    		<img src="assets/images/bg.jpg">
	  		</div>
			<a class="valign-wrapper" style="margin-bottom: 30px">
				<div style="display: inline-block;" class="sidenav2-logo"></div>
				<div style="display: inline-block;" class="logo-title">COSMOS</div>
				<div class="beta">BETA</div>
			</a>
		</div>
	</li>
	<li><a routerLink="posts" routerLinkActive="btn-db-active" class="btn-db rounded sidenav-close">Home</a></li>
	<li><a [routerLink]="[{outlets:{publishArea:['publish']}}]" routerLinkActive="btn-db-active" class="btn-db rounded sidenav-close">PUBLISH</a></li>
	<li><a routerLink="about" routerLinkActive="btn-db-active" class="btn-db rounded sidenav-close">About</a></li>
	<li><a routerLink="contact" routerLinkActive="btn-db-active" class="btn-db rounded sidenav-close">Contact</a></li>
	<li><a routerLink="releases" routerLinkActive="btn-db-active" class="btn-db rounded sidenav-close">Releases</a></li><br><br>
	<footer>
		<a class="footer-icons" href="https://www.github.com/padmesh97/cosmos"><ion-icon name="logo-github"></ion-icon></a>v 1.1b
	</footer>
</ul>