/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Acumin;
    src: url("assets/fonts/acumin-pro/Acumin-RPro.otf") format("opentype");
}

@font-face {
    font-family: Acumin;
    font-weight: bold;
    src: url("assets/fonts/acumin-pro/Acumin-BdPro.otf") format("opentype");
}

@font-face {
  font-family: 'Noto_Color_Emoji';
  font-style: normal;
  font-weight: 400;
  src: url("https://gitcdn.xyz/repo/googlefonts/noto-emoji/master/fonts/NotoColorEmoji.ttf");
}
@font-face {
  font-family: 'NotoColorEmoji';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/NotoColorEmoji.ttf') format('truetype')
}
::selection{
	background-color: rgba(0,0,0,0.3);
	text-shadow: 0 0 5px 5px rgba(0,255,242,1.0);
}
html,body{
	font-family: 'Poppins','NotoColorEmoji',sans-serif !important;
	min-width: 360px;
	background-color: rgba(10,25,47,1);
	background-image: url(/assets/images/galaxy.gif);
	background-size: contain;
	background-attachment: fixed;
	scrollbar-color: rgba(10,25,47,0.5) rgba(10,25,47,0.6);
  scrollbar-width: none;
}
a{
 	outline: none !important;
	text-decoration: none !important;
}
.divider{
	background-color: rgba(200,200,200,0.2) !important
}
.dark-blue-bg{
	background-color: rgba(10,25,47,1) !important;
}
.btn-db{
	background-color: rgba(10,25,47,1);
	box-shadow: -3px -4px 5px rgba(10,40,55, 1), 0px 4px 12px rgba(2,8,30,1);
	border:1px solid rgba(10,25,47,1);
	color: rgb(0, 255, 242) !important;
	padding: 1rem 2rem;
	list-style: none;
}
.btn-db:hover{
	text-shadow: 0 0 2px rgba(0, 255, 242,0.7),
				 0 0 4px rgba(0, 255, 242,0.7) !important;
}
.btn-db:active{
	box-shadow: inset 0px -2px 5px rgba(10,40,55, 1),
				inset 0px 2px 5px rgba(2,8,30,1) !important;
}
.side-light{
	box-shadow: 0px 0px 8px 2px rgb(255, 212, 203),
				2px 0px 12px 2px rgb(0,255,242),
				2px 0px 12px 2px rgb(62, 174, 148) !important;
}
::-webkit-scrollbar {
  width: 10px;
  cursor: pointer !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(36,52,65,0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:rgba(58, 73, 84, 0.5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(58, 73, 84, 0.8);
  filter: brightness(80%);
}
.btn-concave{
	background: linear-gradient(145deg, rgba(6,17,34,1),rgba(12,45,90,1));
	box-shadow: 5px 5px 10px rgba(6,17,34,1),-3px -3px 6px rgba(2,35,70,0.8);
	color: rgb(0,255,242) !important;
	padding: 1rem 2rem;
	list-style: none;
	transition: all 0.1s;
	border: 1px solid rgb(6,17,34,0.2);
}
.btn-concave:hover{
	filter:brightness(130%);
	transform:translate(0,-2px);
	cursor: pointer;
}
.btn-concave:active{
	box-shadow: inset 0px -2px 5px rgba(12,45,90,1),
				inset 0px 2px 5px rgba(6,17,34,1) !important;
}
.btn-concave:focus{
	box-shadow: inset 0px -2px 5px rgba(12,45,90,1),
				inset 0px 2px 5px rgba(6,17,34,1) !important;
}
.color-coral{
	color: rgb(0,255,242) !important;
}
.emoji {
   height: 1.15em !important;
   width: 1.15em !important;
   margin-top: 0.1em !important;
   vertical-align: 0em !important;
}


























