<div class="row">
	<div class="col s12">
		<div class="card dark-blue-bg">
			<div class="row row-movie-title">
				<div class="col s9 movie-title">
					Interstellar (2014)
				</div>
				<div class="col s3 movie-duration">
					2hr 48min
				</div>
			</div>
			<div class="row" style="display: table-row;">
				<div class="movie-poster">
					<div class="placeholder">Loading...</div>
					<img (load)="onPosterLoad($event)" src="https://i.pinimg.com/originals/c6/d4/e2/c6d4e2803a467b99ede238fee57441a7.jpg">
				</div>
				<div class="movie-trailer">
					<div class="placeholder">Loading...</div>
					<iframe style="width:100%" src="https://www.youtube.com/embed/zSWdZVtXT7E" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
			<div class="row">
				<div class="col s12 movie-description">
					<div class="bg-inset" style="padding:1rem">
						<ul class="genre">
							<li>Adventure</li>
							<li>Sci-Fi</li>
							<li>Drama</li>
						</ul>
						A team of explorers travel through a wormhole in space in an attempt to ensure humanity's survival.<br><br>
						Directed by - <span class="director-name">Christopher Nolan</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col s6 movie-imdb">
					<img src="assets/images/imdb_logo.png" height="20">
					<span class="rating">8.6/10</span>
				</div>
				<div class="col s6 movie-rotten">
					<img src="assets/images/rotten_tomatoes_logo.png"  height="20">
					<span class="rating">85%</span>
				</div>
			</div>
		</div>
	</div>
</div>
