.card{
	margin:2rem 1rem 1rem 1rem;
	border-radius: 1.5rem;
	box-shadow: -3px 0 2px rgb(0,255,242), 0px 4px 12px rgba(2,8,30,1);
	overflow:hidden;
}
.card-content{
	padding:0;
}
.row{
	margin-bottom: 0
}
.row-movie-title{
	background:rgb(0,255,242) linear-gradient(-45deg,rgba(23,230,180,0.65)0%, rgba(0, 249, 214, 0.98)30% ,#a4fff2 35%, rgba(0, 172, 148, 0.75)100%)
}
.movie-title{
	padding:0 1rem !important;
	padding-left:3rem !important;
	height:inherit;
	font-size: 1.4rem;
	line-height: 3.3rem;
	text-transform: uppercase;
	color: rgba(10,25,47,1);
}
.movie-duration{
	font-family: 'lato';
	text-align:center;
	line-height: 3.3rem;
	color: rgba(10,25,47,1);
}
.bg-inset{
	border-radius: 8px;
	box-shadow: inset 2px 2px 5px rgba(2,8,30,1),
				inset -2px -2px 5px rgba(12, 37, 64, 1) !important
}
.movie-poster{
	display: table-cell;	
	width: 33.3333333%;
	position: relative;
}
.movie-poster img{
	width: 100%;
	min-height: 18rem;
	position: relative;
	z-index: 1
}
.movie-trailer{	
	display: table-cell;
	width: 66.6666667%;
	height: inherit;
	position: relative
}
.movie-trailer iframe{
	height: inherit;
	position: relative;
	z-index: 1
}
.movie-description{
	padding:1rem 2rem;
	color:rgb(136, 146, 176);
	font-size: 1rem
}
.movie-description .genre{
	margin:0;
	list-style: none;
	text-align: center;
	margin-bottom: 15px;
	border-radius: 8px
}
.movie-description .genre li{
	position: relative;
	display: inline-block;
	text-transform: capitalize;
	margin: 5px 10px;
	padding:5px 10px;
	font-size: 0.8rem;
	border-radius: 5px;
	background-color: rgb(0,255,242);
	color: rgba(10,25,47,1);
}
.director-name{
	text-transform: uppercase;
	font-size: 1.1rem;
	letter-spacing: 1px
}
.movie-imdb{
	color:rgb(136, 146, 176);
	padding-bottom: 0.8rem;
	text-align: center;
}
.movie-rotten{
	color:rgb(136, 146, 176);
	padding-bottom: 0.8rem;
	text-align: center;
}
.rating{
	font-family: lato;
	font-size: 1.9rem;
	padding-left: 1.5rem
}
.placeholder{
	position: absolute;
	text-align: center;
	padding-top:8rem;
	top: 50%;
	left: 0;
	transform: translate(0,-50%);
	color: rgb(0,255,242);
	z-index: 0;
	height: 18rem;
	width: 100%;
	background: linear-gradient(to right, rgb(136, 146, 176) 8%, rgba(10,25,47,1) 18%, rgb(136, 146, 176) 33%);
	animation:placeholder-loading 1s infinite;
}
.centered{
	margin-top:25vh;
	display: flex;
	justify-content: center;
}
.error{
	background:rgba(217, 30, 58, 0.9) !important;
	border-radius:10px;
	box-shadow: inset 3px 3px 7px rgb(179, 0, 27),inset -3px -3px 7px rgba(219, 40, 67,0.5),3px 3px 7px rgb(179, 0, 27),-3px -3px 7px rgba(219, 40, 67,0.5);
	text-align: center;
	border:solid 2px transparent;
	align-self: center;
}
@keyframes placeholder-loading {
  0% {
    background-position: 0px 0;
  }
  100% {
    background-position: 300px 0;
  }
}

@media (max-width: 768px){
	.movie-title{
		font-size: 1.1rem;
		line-height: 2.5rem;
	}
	.movie-duration{
		font-size: 0.8rem;
		line-height: 2.5rem;
		padding-right: 1.5rem
	}
	.director-name{
		word-break: break-word;
		font-size: 0.8rem
	}
	.rating{
		font-size:1.1rem;
		padding-left: 1rem
	}
	.movie-poster img{
		min-height: 10rem
	}
	.placeholder{
		height: 10rem
	}
}